.about {
    background-color: #f6f6f6;
    padding: 50px;
  
    &_text {
      max-width: 800px;
      margin: 0 auto;
  
      h2 {
        font-size: 25px;
        margin-bottom: 30px;
      }
  
      p {
        font-size: 20px;
        line-height: 1.8;
        margin-bottom: 20px;
      }
    }
  }
  