.CarteDeProjet {
    display: flex;
    margin-bottom: 50vh;
    justify-content: center;
    border: 10px solid black;
}

.CarteDeProjet_container_carte {
    display: flex;
    justify-content: space-around;
    transition: 2s ease-in-out;
    transform-style: preserve-3d;
    position: relative;
    scale: 1;
    animation: apparition 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    padding-top: 20px;
    max-width: 850px;
    min-width: 500px;
    max-height: 700px;
    min-height: 600px;
    border-radius: 30px;


    &_recto_fond {
        box-shadow: 4px 4px 8px 4px rgb(99, 93, 93);
        background: #2e2f2f;
        border: 4px solid white;

        &_image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &_verso_fond {
        box-shadow: 4px 4px 8px 4px rgb(99, 93, 93);
        background: #caf8f8;
        border: 4px solid white;

        &_image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &_recto,
    &_verso {

        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border: 4px solid black;
        border-radius: 30px;
        backface-visibility: hidden;
        transform-style: preserve-3d;

        &_fond {
        
            overflow: hidden;
            height: 100%;
            width: 100%;
            border-radius: 25px;
        }

        &_contenu {
            position: absolute;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            transform: translateZ(100px); // Décalage du texte

            &_article {
                color: white;
                font-family: Arial, Helvetica, sans-serif;
                text-align: center;
                text-shadow: 2px 2px black;

                &_paragraphe {
                    padding-top: 40px;
                    font-size: 30px;
                }
            }

            &_image {
                object-fit: cover;
                width: 100px;
                height: 100px;
                border: 2px solid white;
                border-radius: 50%;
            }
        }
    }

    &_profil {
        width: 50%;
        height: 100%;
    }
}

.CarteDeProjet_container_carte_verso {
    transform: rotateY(180deg);
    text-align: center;

    &_contenu {
        &_titre{
           
            width: 650px;
            height: 350px;
            &_h{
                position: absolute;
                top: 250px;
                right: 20px;
                font-size: 35px;
                padding: 2px;
                border-radius: 25px;
                transform: rotate(-45deg);
                color: blueviolet;
              
               
                background-color: rgba(0, 179, 255, 0.2);
            }
        }
        &_article {
            &_space {
                height: 150px;
            }

            &_button {
                border: 3px solid white;
                background: #2e2f2f;
                border-radius: 20px;

                &_icone {
                    display: flex;
                    align-items: center;

                    a {
                        color: white;
                        width: 150px;
                    }
                }
            }
        }
    }
}



.CarteDeProjet_container_carte_verso_contenu_article_button:hover {
    cursor: pointer;
    box-shadow: 0px 4px 4px 2px #242323;
    background-color: rgb(216, 120, 237);
    perspective: 8px;
}

.CarteDeProjet_container_carte:hover {
    transform: rotateY(180deg);
    transition: 1.5s;

}

.icone-retourner {
    color: white;
}





.CardProjet {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 200px; // espace entre les cartes
    padding: 4vh;
    margin: 0 auto;
    width: 80%;
    &_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

.CarteDeProjet_container_carte {

    margin-bottom: 10vh;
    width: calc(30% - 100px); // même largeur pour chaque carte
}