.competences_container {
  animation: clique 800ms ease-in-out;
  display: flex;
  flex-wrap: wrap;

  &_article {
    width: 50%;
    height: 400px;
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    @include for-tablet{
      height: auto;
    }
    @include for-mobile{
      width: 100%;
      height: auto;
    }
    &_titre {
      font-size: 2em;
      font-weight: bold;
      text-align: center;
      margin-top: 1em;

    }

    &_icons {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      height: calc(100% - 3.5em);
      /* On soustrait la hauteur du titre pour centrer le contenu */

    }

    &_icon {
      display: flex;
      flex-direction: column;
      align-items: center;
     
      margin: 3vh;
      
      & img{
        height: 80px;
      }

      & i {
        font-size: 3em;
      }
      & p{
        height: 100px;
        display: flex;
        align-items: center;
        
        
      }

     
    }
  }
}