.competences_container {
  animation: clique 1500ms ease-in-out;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 5vh;
  margin-top: 5vh;

  &_article {
    width: 47%;
    background-color: $bg-Text;
    margin: 1%;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    @include box-shadow;

    @include for-mobile {
      display: none;
    }

    &_titre {
      font-weight: bold;
      text-align: center;
      margin-top: 2vh;
      margin-bottom: 2vh;
      font-size: 30px;
    }

    &_icons {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }

    &_icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 2vh;

      & img {
        height: 50px;
      }

      & i {
        font-size: 50px;
      }

      & p {       
        display: flex;
        align-items: center;
      }
    }
  }
}