@import '../mixins';
@import '../variables';


.header {
    margin-top: 5vh;
    
    @include for-mobile{
        margin-top: 1vh;
    }
    &_nav {
        display: none;

        @include for-tablet {
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        @include for-mobile {
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        &_contact {
            display: none;
            @include for-tablet {
                width: 100%;
                margin-top: 5vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            @include for-mobile {
                width: 100%;
               display: flex;
               flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-top: 5vh;
            }

            &_tel {
                display: none;
                

                @include for-tablet {
                    display: flex;               
                    @include box-shadow;
                    background: $bg-Text;
                    border: 1px solid white;
                    border-radius: 20px;
                    width: 200px;
                    justify-content: center;                   
                    height: 40px;                   
                    align-items: center;
                }

                @include for-mobile {
                    display: flex;               
                @include box-shadow;
                background: $bg-Text;
                border: 1px solid white;
                border-radius: 20px;
                width: 200px;
                    padding: 0;
                    height: 30px;
                    width: 150px;
                    justify-content: center;
                    align-items: center;
                }
                
                &:hover{                                    
                    @include push;                 
                }

                img {
                    width: 35px;

                    @include for-mobile {                     
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }

                &_icone {
                    margin-right: 1vh;
                }
            }

            &_mail {
                
                display: none;
                @include for-tablet {
                    margin-top: 2vh;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @include box-shadow;
                    background: $bg-Text;
                    border: 1px solid white;
                    border-radius: 20px;
                    width: 200px;                
                    height: 40px;                   
                    
                }
                
                @include for-mobile {
                    margin-top: 2vh;
                display: flex;
                justify-content: center;
                align-items: center;
                @include box-shadow;
                background: $bg-Text;
                border: 1px solid white;
                border-radius: 20px;
               
                    padding: 0;
                    height: 30px;
                    width: 150px;
                   
                }

                &:hover{
                   @include push;
                }

                &_icone {
                    margin-right: 1vh;
                    text-align: center;
                    width: 35px;

                    @include for-tablet {
                        width: 30px;
                    }

                    @include for-mobile {
                        width: 28px;
                    }

                    &:hover {
                        color: white;
                    }
                }

                &_lien {
                    display: flex;
                    text-align: center;
                    justify-content: flex-start;
                    align-items: center;

                    @include for-tablet {
                        justify-content: center;
                    }

                    @include for-mobile {
                        justify-content: center;
                    }

                    
                }
            }
        }
    }
}