@import '../mixins';

.home_mobile{
  display: none;
  @include for-mobile {
    display: block; 
  }
  &_presentation{
    margin-top: 5vh;
    transition: 2s ease-in-out;
    
  }
}

.home {
  

  @include for-tablet {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
  }

  @include for-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }



  &_onglet {
    
    display: none;
    @include for-tablet {
      margin-top: 10vh;
      margin-bottom: 5vh;
      border-radius: 25px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      @include box-shadow;     
      height: 50px;
      width: 90%;
      background-color: $bg-Text;
    }
    @include for-mobile {
      
      display: none;
    }
  }
}

.onglet_service {

  display: none;
 

  @include for-tablet {
    width: 50%;
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
  }
  @include for-mobile {
    display: none;
  }

  &:hover {
    color: black;
  }

  &.active {
    
    height: 100%;
    font-weight: bold;
    border-radius: 25px;
    background-color: $blue;
    color: white;
    
  }

}