@import '../mixins';

.home_mobile{
  display: none;
  @include for-mobile {
    display: block; 
  }
  &_presentation{
    margin-top: 5vh;
    transition: 2s ease-in-out;
    
  }
}

.home {
  

  @include for-tablet {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
  }

  @include for-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }



  &_onglet {
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(238, 236, 236);
    @include box-shadow;
    width: 70%;
    height: 100px;

    @include for-tablet {
      width: 90%;
    }
    @include for-mobile {
      
      display: none;
    }
  }
}

.onglet_service {

  display: flex;
  align-items: center;
  background: none;
  border: none;
  color: gray;
  cursor: pointer;
  width: 90%;

  @include for-tablet {
    width: 50%;
  }
  @include for-mobile {
    display: none;
  }

  &:hover {
    color: black;
  }

  &.active {
    
    height: 100%;
    font-weight: bold;
    background-color: white;
   
  }

}