.main_desktop {
    &_homedesk {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 800px;
        width: 100%;
        line-height: 200px;
    }

    &_portfolio {
        height: 800px;
        background-color: red;
    }

    &_about {
        height: 800px;
        background-color: yellow;
    }

    &_contact {
        height: 800px;
        background-color: green;
    }
}