@import '../mixins';

.header {
    margin-top: 5vh;

    &_nav {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100px;
        margin-top: 30px;
        @include for-tablet {
            flex-direction: column;
        }
        @include for-mobile{
            flex-direction: column;
        }



        &_rs {
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            font-size: 25px;
            width: 40%;
            height: 100%;
            @include for-tablet{
                width: 100%;
            }
            @include for-mobile{
                width: 100%;
            }

            &_icone {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 50%;

                button {
                    border: 4px solid white;
                    box-shadow: 4px 4px 8px 4px rgb(99, 93, 93);
                    height: 50px;
                    background-color: #2e2f2f;
                }

                button:hover {
                    box-shadow: 2px 0px 50px 2px rgb(240, 230, 211);
                }

                &-t {
                    color: #1DA1F2;
                    width: 15%;
                    text-align: center;
                }

                &-f {
                    color: #3B5998;
                    width: 15%;
                    text-align: center;
                }

                &-i {
                    color: #C32AA3;
                    width: 15%;
                    text-align: center;
                }

                &-l {
                    color: #007BB5;
                    width: 15%;
                    text-align: center;
                }

                &-ti {
                    width: 15%;
                    text-align: center;
                    color: white;
                }
            }

            &_texte {
                width: 100%;
                color: #2e2f2f;
                display: flex;
                justify-content: center;
                @include for-tablet{
                    display: none;
                }
                @include for-mobile{
                    display: none;
                }
            }
        }

        &_titre {
            display: flex;
            width: 30%;
            justify-content: center;
            align-items: center;
            font-size: 50px;
        }

        &_contact {
            width: 30%;
            
            @include for-tablet{

                margin: 0 auto;
                margin-top: 5vh;
                width: calc(100% - 400px); 
            }
            @include for-mobile{

                margin: 0 auto;
                margin-top: 5vh;
                width: calc(100% - 200px); 
            }


            &_tel {
                color: green;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;

                &:hover {
                    color: rgb(129, 232, 129);
                }

                &_icone {
                    text-align: center;
                    
                }

                &_N {
                    width: 60%;
                    box-shadow: 4px 4px 8px 4px rgb(99, 93, 93);
                    background: #2e2f2f;
                    border: 4px solid white;
                    border-radius: 20px;
                    display: flex;
                    text-align: center;
                    justify-content: center;
                    align-items: center;
                    perspective: 10px;

                    &:hover {
                        box-shadow: 2px 0px 50px 2px rgb(240, 230, 211);
                    }
                }
            }

            &_mail {
                margin-top: 1.8vh;
                display: flex;
                justify-content: center;
                align-items: center;

                &_icone {
                    
                    text-align: center;
                   
                    color: rgb(51, 48, 48);

                    &:hover {
                        color: white;
                    }
                }

                &_lien {
                    width: 60%;
                    box-shadow: 4px 4px 8px 4px rgb(99, 93, 93);
                    background: #2e2f2f;
                    border: 4px solid white;
                    border-radius: 20px;
                    display: flex;
                    text-align: center;
                    justify-content: center;
                    align-items: center;
                    perspective: 10px;

                    &:hover {
                        box-shadow: 2px 0px 50px 2px rgb(240, 230, 211);
                    }
                }
            }
        }
    }
}

.header_titre {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

    &_texte {
        font-size: 50px !important;
    }

}