@import url('https://fonts.googleapis.com/css2?family=Anton&family=Sofia+Sans+Condensed:ital,wght@0,300;0,400;1,100;1,1000&display=swap');
@import '../mixins';

* {

  box-sizing: border-box;
  font-family: 'Sofia Sans Condensed', 'Anton', sans-serif;
  font-size: 25px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

body {

  background-color: rgb(227, 227, 230);
  width: 98%;
  margin: 0 auto;
  margin-bottom: 5vh;

}

h1 {
  font-size: 50px;
  

  
    @include for-mobile {
      font-size: 25px;
  
  
    }

  
}

h2 {
  font-size: 30px;
  
  
  @include for-mobile{
    font-size: 22px
  }
}
h3 {
  font-size: 30px;
  margin-left: 5px;
  @include for-mobile{
    font-size: 16px
  }
}
a {
  text-decoration: none;
  color: black;
  font-size: 25px;
  @include for-tablet{
    font-size: 20px
  }
  @include for-mobile{
    font-size: 16px
  }

}

p {
  font-size: 30px;
  @include for-tablet{
    font-size: 25px
  }
  @include for-mobile{
    font-size: 20px
  }
}

button {
  text-decoration: none;
  border: none;
  cursor: pointer;
  background-color: transparent;


}

.header_nav {
  color: white;

  a {
    color: white;
  }
}