@import '../variables';

.CarteDeVisite {
    display: flex;
   
    justify-content: center;
    width: 100%;
    display: flex;

    &_container {
        width: 100%;
        padding: 5vh;

        @include for-mobile {
            margin-top: 5vh;
            padding: 0;
           display: flex;
           justify-content: center;

        }

        &_carte {
            display: flex;
            justify-content: space-around;
            align-items: center;
            text-align: center;
            transition: 2s ease-in-out;
            transform-style: preserve-3d;
            position: relative;
            scale: (1);
            animation: apparition 1s linear;
            height: 500px;
            width: 400px;
            border-radius: 30px;
            @include box-shadow;

            @include for-tablet {
                width: 350px;
                height: 400px;
            }

            @include for-mobile {
                width: 250px;
                height: 350px;
            }

            &:hover {
                transform: rotateY(180deg);
                transition: 1.5s;
            }

            h1 {
                width: 100%;
                color: $blue;
            }

            &_recto,
            &_verso {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                position: absolute;
               
                border-radius: 30px;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
                transform-style: preserve-3d;

                &_fond {
                    height: 100%;
                    width: 100%;
                    border-radius: 25px;
                    @include box-shadow;
                    background-color: $bg-Text;
                   
                    @include for-mobile{
                        border: 0.2px solid black;
                        
                    }
                }

                &_contenu {
                    position: absolute;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                    transform: translateZ(100px); // Décalage du texte


                    &_article {
                        color: black;
                        font-family: Arial, Helvetica, sans-serif;
                        text-align: center;
                        text-shadow: 2px 2px black;

                        &_rotate {

                            margin-top: 50px;
                            font-size: 30px;
                            height: 100px;
                            display: flex;
                            align-items: center;

                            &_icone {


                                margin-right: 10px;
                                width: 50px;

                            }


                        }
                    }

                    &_image {
                        object-fit: cover;
                    }
                }
            }

            &_recto {
                &_contenu {
                    display: flex;
                    flex-direction: column;

                    &_article {
                        width: 100%;
                        height: 100%;

                        &_texte {
                            h1 {

                                text-shadow: 3px 3px 5px rgb(1, 65, 83);
                            }

                            h2 {
                                text-shadow: 3px 3px 5px rgb(1, 65, 83);
                            }
                        }




                        &_image {
                            text-align: center;
                            margin-right: 30px;

                            width: 100%;


                            img {
                                background: $blue;
                                width: 90px;
                                height: 100px;
                                border-radius: 50%;
                                border: 5px solid black;
                                @include for-mobile{
                                    border: 2px solid black;
                                }
                            }
                        }

                        &_rotate {
                           
                            
                            @include for-mobile {
                                
                                margin-top: 20px;

                            }

                            &_image {

                                img {                                    
                                    display: flex;                           
                                    text-align: center;
                                    width: 40px;
                                    @include for-mobile {
                                        width: 30px;
                                    }
                                }
    
                            }

                            &_txt {
                                margin-left: 1vh;                               
                                text-align: center;
                                color: black;
                                text-shadow: 3px 3px 5px rgb(1, 65, 83);
                            }
                        }
                    }
                }
            }

            &_verso {

                transform: rotateY(180deg);
                text-align: center;

                &_contenu {
                    position: absolute;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                    transform: translateZ(100px); // Décalage du texte

                    &_article{
                        padding: 40px 20px 50px 20px;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        align-items: center; 
                        text-shadow: 3px 3px 5px rgb(1, 65, 83);                      

                        &_button {
                            margin-top: 5vh;
                            width: 50%;
                            height: 40px;
                            background: $blue;
                            border-radius: 20px;
                            display: flex;
                            align-items: center;
                            justify-content: space-around;

                            &:hover {
                                cursor: pointer;
                                @include box-shadow;
                                filter: brightness(0.9);
                                perspective: 8px;
                            }

                            &_icone {
                                &_texte {
                                    margin-left: 10px;
                                }
                            }

                        }
                    }
                }
            }
        }
    }
}