.CarteDeVisite {
    display: flex;
    margin-top: 80px;
    justify-content: center;
    width: 100%;
    display: flex;

    &_container {
        width: 100%;
        padding: 5vh;

        &_carte {
            display: flex;
            justify-content: space-around;
            align-items: center;
            text-align: center;
            transition: 2s ease-in-out;
            transform-style: preserve-3d;
            position: relative;
            scale: (1);
            animation: apparition 1s linear;
            padding-top: 20px;
            width: 80%;
            height: 550px;
            border-radius: 30px;
            box-shadow: 15px 15px 15px grey;
            @include for-tablet{
                width: 100%;
            }
            @include for-mobile{
                width: 100%;
            }
            &:hover {
                transform: rotateY(180deg);
                transition: 1.5s;
            }

            h1 {
                width: 100%;
                color: rgb(138, 182, 215);
            }

            &_recto,
            &_verso {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                position: absolute;
                border: 4px solid black;
                border-radius: 30px;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
                transform-style: preserve-3d;

                &_fond {
                    height: 100%;
                    width: 100%;
                    border-radius: 25px;
                    box-shadow: 4px 4px 8px 4px rgb(99, 93, 93);
                    background: #586b6b;
                    border: 4px solid white;
                }

                &_contenu {
                    position: absolute;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                    transform: translateZ(100px); // Décalage du texte


                    &_article {
                        color: white;
                        font-family: Arial, Helvetica, sans-serif;
                        text-align: center;
                        text-shadow: 2px 2px black;

                        &_rotate {

                            margin-top: 100px;
                            font-size: 30px;
                            height: 100px;
                            display: flex;
                            align-items: center;

                            &_icone {


                                margin-right: 10px;
                                width: 50px;

                            }

                            &_txt {


                                font-size: 35px;
                            }
                        }
                    }

                    &_image {
                        object-fit: cover;
                        border: 2px solid white;
                    }
                }
            }

            &_recto {
                &_contenu {
                    display: flex;
                    flex-direction: column;

                    &_article {
                        width: 100%;
                        height: 100%;

                        &_texte {
                            h1 {
                                
                              text-shadow: 3px 3px 5px rgb(1, 65, 83);
                            }
                            h2{
                                text-shadow: 3px 3px 5px rgb(1, 65, 83);
                            }
                          }
                          



                        &_image {
                            text-align: center;
                            margin-right: 30px;
                            height: 30%;
                            width: 100%;


                            img {
                                background: linear-gradient(45deg, rgb(76, 5, 112), rgb(31, 50, 227), rgb(31, 211, 227));
                                width: 150px;
                                height: 150px;
                                border-radius: 50%;
                                border: 5px solid white;
                            }
                        }

                        &_rotate {
                            width: 100%;
                            height: 30%;

                            &_image {
                                width: 90%;
                                height: 30%;
                                text-align: right;

                                img {
                                    width: 45px;
                                    height: 45px;
                                    
                                }
                                @include for-tablet{
                                    width: 40%;
                                }
                                @include for-mobile{
                                    width: 40%;
                                }
                            }

                            &_txt {
                                margin-left: 1vh;
                                width: 10%;
                                height: 100%;
                                text-align: center;
                                color: white;
                                text-shadow: 3px 3px 5px rgb(1, 65, 83);
                            }
                        }
                    }
                }
            }

            &_verso {

                transform: rotateY(180deg);
                text-align: center;

                &_contenu {
                    position: absolute;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                    transform: translateZ(100px); // Décalage du texte

                    &_article {
                        width: 100%;
                        height: 100%;
                        padding: 40px 20px 50px 20px;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        align-items: center;
                        text-align: left;

                        &_button {
                            margin-top: 5vh;
                            width: 50%;
                            height: 40px;
                            background: rgb(192, 20, 230);
                            border-radius: 20px;
                            display: flex;
                            align-items: center;
                            justify-content: space-around;

                            &:hover {
                                cursor: pointer;
                                box-shadow: 0px 4px 4px 2px #242323;
                                background-color: rgb(216, 120, 237);
                                perspective: 8px;
                            }

                            &_icone {
                                &_texte {
                                    margin-left: 10px;
                                }
                            }

                        }
                    }
                }
            }
        }
    }
}