@import '../variables';
@import '../mixins';

.CarteDeVisite {
    display: flex;
<<<<<<< HEAD
    margin-top: 5vh;
=======
   
>>>>>>> vCard
    justify-content: center;
    width: 100%;
    display: flex;

    &_container {
        width: 100%;
        @include for-mobile {
            margin-top: 10vh;
            padding: 0;
           display: flex;
           justify-content: center;

        }

        &_carte {
            display: flex;
            justify-content: space-around;
            align-items: center;
            text-align: center;
            transition: 2s ease-in-out;
            transform-style: preserve-3d;
            position: relative;
            scale: (1);
            animation: apparition 1s linear;
            height: 500px;
            width: 400px;
            border-radius: 30px;
            @include box-shadow;

            @include for-tablet {
                width: 350px;
                height: 400px;
            }
<<<<<<< HEAD
            @include for-mobile{
                width: 100%;
                height: 400px;
=======

            @include for-mobile {
                width: 250px;
                height: 350px;
>>>>>>> vCard
            }

            &:hover {
                transform: rotateY(180deg);
                transition: 1.5s;
            }

            h1 {
                width: 100%;
                color: $blue;
            }

            &_recto,
            &_verso {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                position: absolute;             
                border-radius: 30px;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
                transform-style: preserve-3d;

                &_fond {
                    height: 100%;
                    width: 100%;
                    border-radius: 25px;
                    @include box-shadow;
                    background-color: $bg-Text;
                }

                &_contenu {
                    position: absolute;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                    transform: translateZ(100px); // Décalage du texte


                    &_article {
                        font-family: Arial, Helvetica, sans-serif;
                        text-align: center;

                        &_rotate {

                            margin-top: 50px;
                            font-size: 30px;
                            height: 100px;
                            display: flex;
                            align-items: center;
                            @include for-mobile{
                                margin-top: 10px;
                            }

                            &_icone {


                                margin-right: 10px;
                                width: 50px;

                            }


                        }
                    }

                    &_image {
                        object-fit: cover;
                    }
                }
            }

            &_recto {
                &_contenu {
                    display: flex;
                    flex-direction: column;

                    &_article {
                        width: 100%;
                        height: 100%;

                        &_texte {
                            h1 {

                                @include shadow-text;
                            }

                            h2 {
                                @include shadow-text;
                            }
                        }




                        &_image {
                            text-align: center;
                            margin-right: 30px;
<<<<<<< HEAD
                            margin-top: 2vh;
=======

>>>>>>> vCard
                            width: 100%;


                            img {
<<<<<<< HEAD
                                background: linear-gradient(45deg, rgb(76, 5, 112), rgb(31, 50, 227), rgb(31, 211, 227));
                                width: 150px;
                               
                                border-radius: 50%;
                                border: 5px solid white;
                                @include for-mobile{
                                    width: 100px;
                                    border: 2px solid white;
                                }
=======
                               
                                width: 90px;
                                border-radius: 50%;
                               
                               
>>>>>>> vCard
                            }
                        }

                        &_rotate {
                           
                            
                            @include for-mobile {
                                
                                margin-top: 20px;

                            }

                            &_image {

                                img {                                    
                                    display: flex;                           
                                    text-align: center;
                                    width: 40px;
                                    @include for-mobile {
                                        width: 30px;
                                    }
                                }
    
                            }

                            &_txt {
                                margin-left: 1vh;
                                font-size: 18px; 
                                font-style: italic;
                                font-weight: 600;                              
                                text-align: center;
                                color: black;
                               
                            }
                        }
                    }
                }
            }

            &_verso {

                transform: rotateY(180deg);
                text-align: center;

                &_contenu {
                    position: absolute;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                    transform: translateZ(100px); // Décalage du texte

                    &_article{
                        padding: 40px 20px 50px 20px;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        align-items: center; 
                        text-shadow: 3px 3px 5px rgb(1, 65, 83);                      

                        &_button {
                            margin-top: 5vh;
                            width: 50%;
                            height: 40px;
                            background: $bg-Text;
                            @include box-shadow;
                            border-radius: 20px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
<<<<<<< HEAD
                            

                            
                            
                            
=======
                            justify-content: center;
>>>>>>> vCard

                            &:hover {
                                cursor: pointer;
                                @include push;
                            }

                            &_icone {
                                &_texte {
                                    margin-left: 10px;
                                    
                                    
                                    
                                    
                                }
                            }

                        }
                    }
                }
            }
        }
    }
}