///////////////////////////////////////////////////////////////////////////
///                         Responsive                                  ///
///////////////////////////////////////////////////////////////////////////

/* Mixin pour les styles tablette */
@mixin for-tablet {
    @media screen and (min-width: 587px) and (max-width: 1200px) {
        @content;
    }
}

/* Mixin pour les styles mobile */
@mixin for-mobile {
    @media screen and (max-width: 586px) {
        @content;
    }
}