
@import './sass/Header';
@import './sass/Footer';
@import './sass/main.scss';
@import './sass/animation';
@import './sass/Collapse';
@import './sass/VisitCard';
@import './sass/CarteProjet';
@import './sass/Caroussel';
@import './sass/Home';
@import './sass/Profil';
@import './sass/Competences';
@import './sass/VideoPlayer';
@import './sass/Presentation';
@import './mixins';
@import './variables';
@import './sass/STF';

